<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayed.home">

    <uses-permission android:name="android.permision.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile" />
        <activity android:name=".product_form" />
        <activity android:name=".page_enchere" />
        <activity android:name=".aboutUs" />
        <activity
            android:name=".Welcome"
            android:exported="true" />
        <activity android:name=".Register" />
        <activity android:name=".vehicule" />
        <activity android:name=".MesProduits" />
        <activity android:name=".Multimedia" />
        <activity android:name=".Buildings" />
        <activity android:name=".Leisures" />
        <activity android:name=".HomeAppliances" />
        <activity android:name=".Other" />
        <activity android:name=".Change" />
        <activity android:name=".Produit" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View" />
        <activity android:name=".Settings"></activity>
    </application>

</manifest>